.productInfo {
    margin: 10px;
    padding: 10px;
}

img.largeImage {
    width: 500px !important;
    height: 500px !important;   
}

.shadowBox{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.49);;
}

div.largeImage {
    box-shadow: none;
    background-color: #fafafa;
}

.productName {
    font-size: 3em !important;
}

.productGrid {
    flex-grow: 1;
}

.dollars:before {
    content:'$'; 
}

.crossedout {
    text-decoration: line-through
}